.about__columns {
  @extend .section__top-backing;

  @include setForMobile {
    gap: 0;
  }
}

.about__feature-item {
  &:not(:last-child) {
    margin-bottom: 4px;

    @include setForTabletAndDesktop {
      margin-bottom: 16px;
    }
  }

  @include setForMobile {
    min-width: 200px;
  }
}

.about__feature {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  transition: transform 250ms $transition-timing-function;

  &:hover {
    transform: scale(1.2);
  }
}
