.contact__columns {
  @extend .section__top-backing;
}

.contact__info {
  @extend .section__top-backing;
}

.contact__feature-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  @include setForTabletAndDesktop {
    gap: 16px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .contact__icon {
    fill: currentColor;
  }
}

.contact__icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  .contact__icon {
    transition: opacity 250ms $transition-timing-function;

    &:hover {
      opacity: 0.6;
    }
  }
}

.contact__subtitle {
  color: getTextColor('secondary');

  @include setForTabletAndDesktop {
    margin-bottom: 16px;
  }
}
