.container {
  @include setXPadding(16px);
  @extend %x-margin-centered;

  @include setForMobile {
    max-width: getBreakpoint('mobile');
  }

  @include setForTablet {
    width: getBreakpoint('tablet');
  }

  @include setForDesktop {
    width: getBreakpoint('desktop');
  }
}
