.contact__columns {
  @extend .section__top-backing;
}

.contact__info {
  @extend .section__top-backing;
}

.contact__feature-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__feature {
  display: flex;
  align-items: start;
  gap: 8px;
  text-decoration: none;

  @include setForTabletAndDesktop {
    gap: 16px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact__heading {
  font-size: 18px;
  font-weight: 500;
}

.contact__link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
