.hero {
  @include setYPadding(96px);
}

.hero__text {
  font-size: 24px;
  font-weight: 400;
}

.hero__title {
  @include setYMargin(8px);
  font-size: 48px;
  font-weight: 500;
}

.hero__subtitle {
  margin-bottom: 16px;
  color: getTextColor('secondary');
}

.hero__button-list {
  margin-top: 56px;
  display: flex;
  gap: 16px;
}

.hero__icon-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.hero__icon {
  transition: transform 250ms $transition-timing-function;

  &:hover {
    transform: scale(1.2);
  }
}

.hero__picture-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: getGradientColor('secondary');
    border-radius: 50%;
    z-index: -1;
  }
}

.hero__picture {
  border-radius: 50%;
}
