.hero {
  padding-top: 136px;
}

.hero__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__text {
  font-size: 24px;
  font-weight: 400;
}

.hero__title {
  @include setYMargin(8px);
  font-size: 48px;
  font-weight: 500;
}

.hero__subtitle {
  font-size: 24px;
  font-weight: 700;
  background: getGradientColor('primary');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__link-list {
  @include setYMargin(56px);
  display: flex;
  gap: 16px;
}

.hero__list-title {
  margin-bottom: 16px;
  font-size: 18px;
  text-align: center;
  color: getTextColor('subtitle');
}

.hero__icon-list {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.hero__icon {
  transition: transform 250ms $transition-timing-function;

  &:hover {
    transform: scale(1.2);
  }
}

.hero__picture-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: transform 250ms $transition-timing-function;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: getGradientColor('secondary');
    border-radius: 50%;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.hero__picture {
  border-radius: 50%;
}
