.link {
  display: inline-block;
  font-size: 14px;
  text-decoration: underline;
  color: getTextColor('primary');
  transition: color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: getAccentColor('primary');
  }
}
