.preview {
  padding: 96px 32px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  background: getBgrColor('backdrop');
  transition: opacity 250ms $transition-timing-function;

  @include setForTabletAndDesktop {
    padding: 96px;
  }
}

.preview--hidden {
  display: none;
}
