.section {
  @extend %x-margin-centered;
  @include setYPadding(32px);

  @include setForTablet {
    @include setYPadding(56px);
  }

  @include setForDesktop {
    @include setYPadding(64px);
  }
}

.section__top-backing {
  margin-top: 16px;

  @include setForTabletAndDesktop {
    margin-top: 32px;
  }
}

.section__accent {
  font-size: 24px;
  font-weight: 700;
  background: getGradientColor('primary');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__title--orange {
  background: getGradientColor('orange');
}

.section__title--blue {
  background: getGradientColor('blue');
}

.section__title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include setForTabletAndDesktop {
    margin-bottom: 48px;
  }
}

.section__subtitle {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  @include setForTabletAndDesktop {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}

.section__text {
  @extend %x-margin-centered;
  max-width: 900px;
  text-align: center;
}

.section__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include setForTabletAndDesktop {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.section__gallery {
  @extend .section__top-backing;
  display: grid;
  grid-template-columns: 270px;
  justify-content: space-around;
  gap: 32px;

  @include setForTabletAndDesktop {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

.section__list {
  @extend %x-margin-centered;
}

.section__list-item:not(:last-child) {
  margin-bottom: 64px;
}
