%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%x-margin-centered {
  margin-left: auto;
  margin-right: auto;
}

%stretched {
  width: 100%;
  height: 100%;
}
